---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: "IT Automation"
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

~> **Warning** When a task is part of a task group (via `crowdstrike_it_automation_task_group`), the `access_type` and `assigned_user_ids` are inherited from the task group and cannot be configured on the task itself. Attempting to configure these fields will result in an error. Use the `effective_access_type` and `effective_assigned_user_ids` computed attributes to view the actual values when a task is in a group.

{{ if .HasExample -}}
## Example Usage

{{ tffile (printf "%s%s%s" "examples/resources/" .Name "/resource.tf") }}
{{- end }}

{{ .SchemaMarkdown | trimspace }}
{{- if .HasImport }}

## Import

Import is supported using the following syntax:

{{ codefile "shell" (printf "%s%s%s" "examples/resources/" .Name "/import.sh") }}
{{- end }}
